body {
    background-color: lightyellow;
}

.top-header {
    display: block;
    border-top: 2px solid #a7a59b;
    border-bottom: 2px solid #a7a59b;
    height: 22px;
    line-height: 22px;
    padding: 4px 10px;
    font-size: 20px;
    clear:both;
}

.about-button {
    margin-left: 10px;
}

.media-button {
    margin-left: 10px;
}

.page-title {
    color: blue;
    text-align: center;
}