<!-- templates/uploadDefault.html -->
{% extends 'webcalc/base.html' %}

{% block content %}
    <div style="padding:40px;margin:40px;border:1px solid #ccc">
        <h3>Using default training files</h3>
        <p>Select a default training file from the list and upload your test file.</p>
    </div>
    <div style="padding:40px;margin:40px;border:1px solid #ccc">
        <h1>Provide Input for Calculations</h1>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if messages %}
          {% for message in messages %}
              <h3 style="color: red">{{ message }}</h3>
          {% endfor %}
        {% endif %}
        <button type="submit">Submit</button>
        </form><hr>
        <h3 style="color:green"><a href="{% url 'webcalc:media' %}">Training file descriptions here</a></h3>
    </div>
{% endblock content %}
