<!-- templates/descriptions.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
    <head>
        <link href="{% static 'css/media.css' %}" rel="stylesheet">
    </head>

    <div style="padding:40px;margin:40px;border:1px solid #ccc">
        <center><h1>File List</h1></center>
        <h3 style="color:red">The below are default datasets, each with a description of what the dataset contains.</h3>
        <table>
            <tr class="table-header">
                <td><h2>File</h2></td>
                <td><h2>Description</h2></td>
                <td><h2>Frequency</h2></td>
                <td><h2>Audience</h2></td>
                <td><h2>Language</h2></td>
            </tr>
            {% for obj in objects %}
                <tr class="table-row">
                    <td><a href = "/media/default/{{ obj.file_name }}" download><h2>{{ obj.file }}</h2></a></td>
                    <td><h3>{{ obj.long_desc }}</h3></td>
                    <td><h3>{{ obj.frequency }}</h3></td>
                    <td><h3>{{ obj.audience }}</h3></td>
                    <td><h3>{{ obj.language }}</h3></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}